[submodule ".janus/powerline"]
	path = .janus/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".janus/css3"]
	path = .janus/css3
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".janus/nerdtree-tabs"]
	path = .janus/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".janus/sparkup"]
	path = .janus/sparkup
	url = git://github.com/sjl/vim-sparkup.git
[submodule ".janus/matchtag"]
	path = .janus/matchtag
	url = https://github.com/gregsexton/MatchTag.git
[submodule ".janus/html5"]
	path = .janus/html5
	url = https://github.com/othree/html5.vim.git
[submodule ".janus/salt"]
	path = .janus/salt
	url = https://github.com/saltstack/salt-vim.git
[submodule ".janus/base16"]
	path = .janus/base16
	url = https://github.com/chriskempson/base16-vim.git
